# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

.audio_files/
audio_files/

.uploads/
uploads/

# Environment Variables
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3

# Flask
instance/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp


migrations/__pycache__/
*.pyc